@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<h1>User Result Page</h1>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>IdentyNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.UserModelList)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.IdentyNumber</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id">delete</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>


<div class="clearfix"></div>

<div id="dialog" title="edit view" style="overflow: hidden;"></div>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var id = 0;
            $(document).on('click', '.btnEdit', function () {
                id = $(this).attr("data-value");
                $('#dialog').dialog('open');
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Edit User',
                modal: true,
                open: function (event, ui) {
                    // Load partial view _GridEditPartial

                    $(this).load("/index/UserAsync?userId=1");
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
